.modal-open {
  overflow: hidden;
}

.jnp-search-holder{
  margin: 2rem auto;
  position: relative;
  width: 16rem;
  background-color: white;
  padding: 1rem;
}
.jnp-search-holder > label{
  position: absolute;
  top: 15px;
  left: 52%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  background-color: white;
}

#journal-search-bar{
  width: 15rem;
  padding: 0.8rem 0.5rem;
  border-radius: 100px;
}

