/* quill */

.ql-toolbar{
  border-radius: 0.75rem 0.75rem 0 0;
}

.ql-container{
  border-radius: 0 0 0.75rem 0.75rem;
  /* width: 40vw; */
}

/* standard */

.journal-form-wrapper{
  background-color: white;
  border: 10px solid var(--purple);
  /* width: 50vw; */
  margin: 2rem auto;
  padding: 2rem;
  border-radius: 30px;
  position: relative;
  width: clamp(30vw, 700px, 70vw);
}

#journal-entry-fm {
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.fm-group{
  margin: 1rem 0;
  position: relative;
  display: inline-block;
}

/* labels styles */

.fm-group > label {
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 1.2rem;
  color: rgb(160, 160, 160);
  background-color: white;
  transition: all 0.2s ease;
  transform: translate(-50%, -50%);
}

#journal-content-fm:hover + label {
  top: 0;
  font-size: 1rem;
  color: black;
}
#journal-content-fm:focus + label {
  top: 0;
  font-size: 1rem;
  color: black;
}
#journal-content-fm:valid + label {
  top: 0;
  font-size: 1rem;
  color: black;
}

#journal-title-fm:hover + label {
  top: 0;
  font-size: 1rem;
  color: black;
}

#journal-title-fm:focus + label {
  top: 0;
  font-size: 1rem;
  color: black;
}
#journal-title-fm:valid + label {
  top: 0;
  font-size: 1rem;
  color: black;
} 

/* symptom-mood buttons */
.symptom-mood-wrapper > button {
  padding: 0.5rem 1rem;
  border-radius: 100px;
  margin: 0 0.5rem;
  font-size: 1rem;
}

/* submit button */
#journal-entry-fm > button {
  padding: 0.5rem 1rem;
  border-radius: 100px;
  font-size: 1rem;
  position: absolute;
  right: 10px;
  bottom: 10px;
}

/* textbox and area styling */
#journal-title-fm, #journal-content-fm {
  /* width: 15rem; */
  padding: 1rem 1.5rem;
  font-size: 1rem;
  border-radius: 10px;
}
#journal-content-fm{
  font-family: Arial, sans-serif;
  line-height: 1.5;
  resize: none;
  /* width: 35rem; */
  min-height: 6rem;
}

#journal-title-fm{
  width: 20vw;
}

/* symptom-mood section */

.symptom-mood-icon-wp{
  height: 5rem;
  width: 100%;
  background-color: aquamarine;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}

.sm-divider{
  background-color: black;
  width: 1px;
  margin: 0 2rem;
  height: 70%;
}
