.All-Post {
  background-color: rgb(233, 233, 233, 0.5);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;
  border: 2px solid #000000;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); ;
}

.card {
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 36px;
  border: var(--purple) 5px solid;
  box-shadow: 8.0px 16.0px 16.0px hsla(267, 50%, 51%, 0.25);
}

.card > h2 {
  margin: 0 3rem;
}

.user-data-wrapper {
  font-family: 'Quicksand', sans-serif;
  text-align: left;
  display: flex;
  justify-content:flex-start;
  margin-bottom: 2rem;
}
.user-data-holder{
  margin-left: 1rem;
}

.user-data-holder > p {
  text-transform: capitalize;
  font-size: 1rem;
}

.p-title{
  text-align: left;
}

.pt-content > div {
  border-top: 1px solid rgb(185, 185, 185);
  border-bottom: 1px solid rgb(185, 185, 185);
  padding: 2rem;
  box-shadow: 0 5px 10px rgb(194, 194, 194);
}

.comment-inputs{
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(184, 184, 184);
  padding-top: 1.5rem;
}

#comment-input{
  width: 100%;
  padding: 0.4rem 1rem;
  border-radius: 100px;
  border: 1px solid rgb(186, 186, 186);
}

.q-name {
  height: 3rem;
  background-color: yellow;
  
}

.q-date {
  height: 3rem;
    background-color: #89D6B6;
    display: flex;
    justify-content: right;
    padding: 14px;
    border-radius: 12px;
    border: 1px solid black;
}

.title {
  font-size: 18px;
  color: #333;
  margin-top: 10px;
}
/* 
.content {
  font-size: 16px;
  color: #000000;
  margin-top: 10px;
  font-style: italic;
  font-weight: 300;

} */

.pt-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0 3rem;
}

.pt-content > p{
  align-self:flex-start;
}

.the-image {
  width: 15rem; 
  align-self: center; 
}

.comment {
  background-color: rgb(255, 255, 255);
  padding: 1rem 3rem;
  text-align: left;
}


.quote-mark {
  font-size: 45px;
  color: #000000;
  margin-right: 10px;
}

.quotation-mark-img {
  position: absolute;
  width: 6rem;
}

#left-qm {
  left: 0;
  transform: scaleX(-1) scaleY(-1) translateX(45px) translateY(45px) rotate(-20deg);
}

#right-qm {
  right: 0;
  bottom: 0;
  transform: translateX(45px) translateY(45px) rotate(20deg);
}

#quote-header {
  font-weight: 400;
  position: relative;
  margin-bottom: 2rem;
}

#quote-header::after {
  content: '';
  display: block;
  width: 80%;
  height: 2px;
  background: #919191;
  position: absolute;
  left: 35%; 
  margin-left: -25%; 
  margin-top: 0.3rem;
}

#quote-content {
  line-height: 2.5rem;
}

.profile-button{
  height: 50px;
  width: 50px;
  border-radius: 12px ;
}

.each-comment-user{
  text-align: left;
  position: relative;
  justify-content: flex-start;
}

.each-comment-user > p{
  margin-right: 0.5rem;
  display: inline-block;
}
.each-comment-user > p:first-of-type {
  font-weight: 600;
  display: inline-block;
}

.comment-icon{
  position: relative;
  width: 40px;
  margin-right: 0.5rem;
  bottom: -13px;
}

.comments-header{
  font-size: 1.5;
  font-weight: 600;
}

.comment{
  margin-top: 1rem;
  border-top: 1px solid rgb(185, 185, 185);
}

.p-date {
  height: 3rem;
    background-color: #89D6B6;
    display: flex;
    justify-content: right;
    padding: 14px;
    border-radius: 12px;
    border: 1px solid black;
}