.All-Post {
  background-color: #a194d5;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
}

.card {
  background-color: white;
  display: flex;
  flex-direction: column;
  /* height: 50rem; */
  margin: 2%;
  border-radius: 15px;
}
.user-data {
  display: flex;
  justify-content: flex-start;
  margin: 1%;
  /* padding: 10%; */
  /* background-color: red; */
}
.q-name {
  height: 3rem;
  background-color: yellow;
}
.q-date {
  height: 6rem;
  background-color: burlywood;
}
.title {
  flex-grow: 1;
  /* height: 5rem; */
  background-color: green;
  align-self: flex-start;
}
.content {
  background-color: yellow;
}
.comment {
  background-color: grey;
  padding: 10%;
  margin: 1%;
  text-align: right;
}

.img {
  height: 50%;
  width: 50%;
  float: right;
}
