.motivational-quote-container {
    background-color: #f5effe;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
    margin-top: 20px;
  }
  
  .motivational-quote {
    background-color: #dabeff;
    padding: 20px;
    border-radius: 5px;
  }
  
  .motivational-quote h3 {
    font-size: 18px;
    color: #333;
  }
  
  .motivational-quote p {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
  }