.modal{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.modal-content{
  width: 50vw;
  align-self: center;
  background-color: #fff;
  text-align: left;
}

.modal-header, .modal-footer{
  padding: 1rem;
}

.modal-body{
  padding: 1rem;
  border-top: 1px solid rgb(220, 220, 220);
  border-bottom: 1px solid rgb(220, 220, 220);
  text-align: center;
}