.filter-and-search-wrapper{
  border-bottom: 1px solid black;
  padding: 1rem 1rem 3rem;
  background-color: white;
}
.cm-search-filter-holder{
  margin-top: 2.2rem;
}
.cm-search-filter-holder > div > a{
  padding: 0.3rem 1rem;
  background-image: linear-gradient(to right bottom, #7cc8aa, #89d6b6);
  color: white;
}

#plus{
  background-color: rgb(228, 228, 228);
}

#activeFilter {
  background-image: linear-gradient(to right bottom, #b2aad4, #a194d5);
}

.cm-search-holder{
  position: relative;
  margin: 1rem auto;
  width: 15rem;
  padding: 1rem;
  background-color: rgb(255, 255, 255);
}

.cm-search-holder > input[type="text"] {
  width: 10rem;
  border-radius: 100px;
  padding: 0.5rem 1rem;

}
.cm-search-holder > label {
  position: absolute;
  top: 15px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}

#modal-submit{
  padding: 0.3rem 1rem;
  margin-top: 2rem;
  margin-bottom: ;
}