#home-page-container{
  padding: 20px;
}
.hero-banner {
  position: relative;
  width: 100%;
  height: 90vh;
  background-image: linear-gradient(to right bottom, #4c3e879b, #a194d598), url('pregnancy-woman-bkg.jpeg');
  background-position: center;
  background-size: cover;
  background-position: top;
  overflow: hidden;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 50% 90%, 0 100%);
}

.hp-logo-box{
  position: absolute;
  top: 0.5rem;
  left: 1rem;
}

#hp-logo{
  width: 100px;
  border-radius: 100px;

  border: 1px solid rgb(109, 109, 109);
}

.hp-text-box{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hp-heading{
  color: #eee;
  text-transform: uppercase;
}

.hp-heading-main{
  display: block;
  font-size: 4rem;
  font-weight: 400;
  letter-spacing: 35px;
}

.hp-heading-sub{
  display: block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 15px;
}